body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(Gemini_Generated_Image5.jpg);
    padding: 20px;
  }
  
  header h1 {
    font-size: 2em;
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav a {
    color: #fffdfd;
    text-decoration: none;
    padding: 10px;
  }
  
  .apparel-grid {
    display: grid;
    gap: 20px;
    padding: 2px;
  }
  
  .apparel-card {
    margin: 10px;
    border: 2px solid rgb(2251, 192, 41);
    padding: 15px;
    text-align: center;
    background-color: rgb(251, 192, 41);
    border-radius: 8px;
  }
  .apparel-card img {
    width: 25%;
    height: auto;
  }
  
  .apparel-card h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .apparel-card p {
    margin-bottom: 10px;
  }
  .apparel-card a:hover{
    background-color:  rgba(88, 71, 29, 0.518);
  }
  
  
  .apparel-card a {
    background-color: #e3c986;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  /* Add additional styles for different elements and sections */
  